* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  background-color: #5A6074;
}

h1 {
  color: #CCCCCC;
  font-size: 6vw;
}

h1:hover {
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

span {
  color: #CCCCCC;
  font-size: 3vh;
}

span:hover {
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

h2 {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #F96A3D;
  text-align: center;
  font-size: 6vh;
}

h3 {
  font-size: 3vh;
  color: #EDEDED;
}

h4 {
  color: #EDEDED;
}

p {
  color: #EDEDED;
  text-align: center;
}

label {
  font-size: 3vh;
  color: #EDEDED;
}

i {
  font-size: 6vh;
  color: #CCCCCC;
}

i:hover {
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #CCCCCC;
  font-size: 1.7vh;
}

a:hover {
  color: white;
  transition: 0.4s;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
html body {
  height: 100%;
}

.nav {
  position: fixed;
  left: 77%;
  z-index: 2;
  border-radius: 10px;
}
.nav > .nav_btn {
  font-size: 9vh;
  color: #cccccc;
  border: none;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .nav {
    left: 85%;
  }
  .nav .nav_btn {
    font-size: 12vh;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    display: none;
  }
}
.main {
  scroll-behavior: smooth;
}
.main > .main_section > .section_p {
  font-weight: bold;
  font-size: 5vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
  padding-top: 30%;
}
.main > .main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .btn-primary {
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
.main i {
  color: white;
  font-size: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (min-width: 1024px) {
  .main > .main_section > .section_p {
    margin-left: 22%;
    padding-top: 10%;
  }
  .main .btn-primary {
    margin-right: 0%;
  }
  .main i {
    margin-left: 22%;
  }
}
.aside {
  width: 0%;
  height: 100%;
  position: fixed;
  border-right: 5px solid #F96A3D;
}
.aside > .aside_h1 {
  display: none;
}
.aside > .aside_closeBtn {
  display: none;
}
.aside > .aside_ul {
  display: none;
}

.aside--openMenu {
  transition: 0.3s;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17%;
  padding-top: 3%;
  height: 100%;
  border-right: 5px solid #F96A3D;
  z-index: 2;
}
.aside--openMenu > .aside_h1--openMenu {
  transition: 0.3s;
  display: block;
  font-size: 8vh;
}
.aside--openMenu > .aside_closeBtn--openMenu {
  display: block;
  position: fixed;
  left: 80%;
  font-size: 6vh;
  color: #cccccc;
  border: none;
}
.aside--openMenu > .aside_ul--openMenu {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside--openMenu > .aside_ul--openMenu > li {
  padding-bottom: 100px;
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .aside--openMenu > .aside_h1--openMenu {
    font-size: 10vh;
  }
  .aside--openMenu > .aside_closeBtn--openMenu {
    left: 85%;
    font-size: 10vh;
  }
}
@media screen and (min-width: 1024px) {
  .aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17%;
    padding-top: 3%;
    width: 12%;
    height: 100%;
    border-right: 5px solid #F96A3D;
  }
  .aside > .aside_h1 {
    display: block;
  }
  .aside > .aside_ul {
    display: block;
  }
  .aside > .aside_ul > li {
    padding-bottom: 100px;
    scroll-behavior: smooth;
  }
}
.about {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20%;
}
.about > .about_h2 {
  padding-bottom: 10%;
  padding-top: 10%;
}
.about > .about_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
}
.about > .about_div img {
  margin-bottom: 10%;
  width: 27vh;
  height: 30vh;
  border-radius: 10px;
}
.about > .about_div p {
  text-align: left;
  font-size: 3vh;
}

@media screen and (min-width: 768px) {
  .about > .about_div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .about > .about_div img {
    width: 30vh;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    margin-left: 22%;
  }
  .about > .about_div > p {
    text-align: left;
  }
  .about > .about_div img {
    width: 30vh;
    height: 30vh;
  }
}
.skills {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20%;
}
.skills .skills_h2 {
  padding-bottom: 10%;
  padding-top: 10%;
}
.skills .skills_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5vh;
}
.skills .skills_div .icon-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: #CCCCCC;
}
.skills .skills_div .icon-wrapper:hover {
  color: white;
  transition: 0.4s;
}
.skills .skills_div .icon-name {
  opacity: 0;
  font-weight: bold;
  text-align: center;
}
.skills .skills_div i {
  color: #CCCCCC;
  padding: 5%;
  margin: 0;
}
.skills .skills_div svg {
  padding: 5%;
  margin: 0;
}
.skills .skills_div i:hover {
  color: white;
  transition: 0.4s;
}
.skills .skills_div i:hover + .icon-name {
  opacity: 1;
  transition: 0.4s;
}
.skills .skills_div svg:hover {
  fill: white;
}
.skills .skills_div svg:hover + .icon-name {
  opacity: 1;
  transition: 0.4s;
}

@media screen and (min-width: 1024px) {
  .skills {
    margin-left: 0%;
  }
  .skills > div {
    margin-left: 25%;
  }
  .skills > .skills_div {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15vh;
    margin-left: 25%;
  }
  .skills i {
    padding: 0%;
  }
}
.portfolio {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20%;
}
.portfolio .portfolio_h2 {
  padding-bottom: 10%;
  padding-top: 10%;
}
.portfolio > .portfolio_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15vh;
}
.portfolio .project-wrapper {
  position: relative;
  width: 20vh;
  height: 25vh;
  z-index: 1;
}
.portfolio .project-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 5px 10px 10px #2c2c2c;
}
.portfolio .project-wrapper > .info-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}
.portfolio .project-wrapper > .info-wrapper > .info-wrapper__title {
  background-color: rgba(75, 75, 75, 0);
  padding: 10px;
}
.portfolio .project-wrapper > .info-wrapper > .info-wrapper__desc {
  background-color: rgba(75, 75, 75, 0);
  padding: 10px;
}
.portfolio .project-wrapper > .info-wrapper > .info-wrapper__techContainer {
  display: flex;
  justify-content: center;
  gap: 1vh;
  background-color: rgba(75, 75, 75, 0);
  padding: 10px;
}
.portfolio .project-wrapper > .info-wrapper > .info-wrapper__techContainer > h4 {
  background-color: rgba(75, 75, 75, 0);
}
.portfolio .project-wrapper > .info-wrapper .button-wrapper {
  background-color: rgba(75, 75, 75, 0);
  display: flex;
  padding: 10px;
  padding-right: 12%;
  gap: 10%;
}
.portfolio .project-wrapper > .info-wrapper .button-wrapper > a {
  background-color: #F96A3D;
  border: 1px solid black;
  border-radius: 8px;
  color: #EDEDED;
  padding: 1%;
  font-size: 3vh;
  align-self: center;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: max-content;
}
.portfolio .project-wrapper > .info-wrapper .button-wrapper-fs {
  background-color: rgba(75, 75, 75, 0);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1rem;
}
.portfolio .project-wrapper > .info-wrapper .button-wrapper-fs > a {
  background-color: #F96A3D;
  border: 1px solid black;
  border-radius: 8px;
  color: #EDEDED;
  padding: 1%;
  font-size: 3vh;
  align-self: center;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: max-content;
}

.project-wrapper:hover {
  transition: 0.4s;
  width: 40vh;
  height: 50vh;
}

.project-wrapper:hover .info-wrapper {
  transition: 1.4s;
  opacity: 1;
  background-color: rgba(75, 75, 75, 0.8);
}

@media screen and (min-width: 768px) {
  .portfolio .project-wrapper .info-wrapper .info-wrapper__techContainer {
    gap: 2vh;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio {
    margin-left: 0%;
  }
  .portfolio > div {
    margin-left: 25%;
  }
  .portfolio > .portfolio_div {
    margin-left: 25%;
  }
  .portfolio .project-wrapper {
    width: 25vh;
    height: 30vh;
  }
  .portfolio .project-wrapper .info-wrapper .button-wrapper {
    padding-right: 10%;
  }
  .portfolio .project-wrapper:hover {
    width: 50vh;
    height: 60vh;
  }
}
.contact {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20%;
}
.contact .contact_h2 {
  padding-bottom: 10%;
  padding-top: 10%;
}
.contact > .contact_flex-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
  align-items: center;
  gap: 7vh;
  padding-bottom: 20%;
}
.contact > .contact_flex-container > .contact_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 1.5vh;
}
.contact > .contact_flex-container > .contact_form > .btn-primary {
  width: 35%;
  margin-top: 5%;
}
.contact > .contact_flex-container > .contact_links {
  display: flex;
  align-items: center;
  margin-right: 15%;
  gap: 10%;
}
.contact > .contact_flex-container > .contact_links > a > i {
  color: #CCCCCC;
  font-size: 6vh;
  margin-left: 10%;
  margin-right: 10%;
}
.contact > .contact_flex-container > .contact_links > a i:hover {
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (min-width: 1024px) {
  .contact > .contact_div {
    margin-left: 15%;
  }
  .contact > .contact_flex-container {
    margin-left: 15%;
    gap: 40vh;
    flex-direction: row;
  }
  .contact > .contact_flex-container > .contact_links {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0%;
    gap: 10vh;
    align-self: baseline;
  }
}
.btn-primary {
  background-color: #F96A3D;
  border: 1px solid black;
  border-radius: 8px;
  color: #EDEDED;
  padding: 1%;
  font-size: 3vh;
  align-self: center;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
  cursor: pointer;
}

.primary-input {
  width: 40vh;
  height: 3vh;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.secondary-input {
  width: 40vh;
  border-radius: 4px;
  background-color: white;
  border-style: ridge;
  border: 1.5px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .primary-input {
    width: 60vh;
  }

  .secondary-input {
    width: 60vh;
  }
}