@import "variables";

.about {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20%;

  > .about_h2 {
    padding-bottom: 10%;
    padding-top: 10%;
  }

  > .about_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;

    img {
      margin-bottom: 10%;
      width: 27vh;
      height: 30vh;
      border-radius: 10px;
    }

    p {
      text-align: left;
      font-size: 3vh;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .about {
    > .about_div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      img {
        width: 30vh;
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .about {
    margin-left: 22%;

    > .about_div {
      > p {
        text-align: left;
      }

      img {
        width: 30vh;
        height: 30vh;
      }
    }
  }
}
