.contact {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 30%;
}
.contact .contact_h2 {
  padding-bottom: 10%;
}
.contact > .contact_flex-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
  align-items: center;
  gap: 7vh;
  padding-bottom: 20%;
}
.contact > .contact_flex-container > .contact_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 1.5vh;
}
.contact > .contact_flex-container > .contact_form > #name {
  width: 50vh;
  height: 3vh;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact > .contact_flex-container > .contact_form > #email {
  width: 50vh;
  height: 3vh;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact > .contact_flex-container > .contact_form > #message {
  width: 50vh;
  border-radius: 4px;
  background-color: white;
  border-style: ridge;
  border: 1.5px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact > .contact_flex-container > .contact_form > .btn-primary {
  width: 35%;
  margin-top: 5%;
}
.contact > .contact_flex-container > .contact_links {
  display: flex;
  align-items: center;
  margin-right: 20%;
}
.contact > .contact_flex-container > .contact_links > i {
  color: #CCCCCC;
  font-size: 6vh;
  margin-left: 10%;
  margin-right: 10%;
}
.contact > .contact_flex-container > .contact_links i:hover {
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

@media screen and (min-width: 1024px) {
  .contact > .contact_div {
    margin-left: 15%;
  }
  .contact > .contact_flex-container {
    margin-left: 15%;
    gap: 40vh;
    flex-direction: row;
  }
  .contact > .contact_flex-container > .contact_links {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0%;
    gap: 10vh;
    align-self: baseline;
  }
}