@import "variables";

.nav {

    position: fixed;
    left: 80%;

    >.nav_btn {
        font-size: 9vh;
        color: #CCCCCC;
        margin: 20%;
        border: none;
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .nav {
        display: none;
    }
    
}