@import "variables";

.nav {
  position: fixed;
  left: 80%;
  z-index: 2;
  border-radius: 10px;

  > .nav_btn {
    font-size: 9vh;
    color: #cccccc;
    border: none;
    border-radius: 10px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .nav {
    left: 85%;

    .nav_btn {
      font-size: 12vh;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .nav {
    display: none;
  }
}
