@import "variables";

.portfolio {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30%;

    .portfolio_h2 {
        padding-bottom: 10%;
    }

    img {
        width: 20%;
    }

    >.portfolio_div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15vh;
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .portfolio {
        margin-left: 0%;

        >div {
            margin-left: 25%;
        }

        >.portfolio_div {
            margin-left: 25%;
        }
    }
}