@import "variables";

.skills {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20%;

  .skills_h2 {
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .skills_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5vh;

    .icon-wrapper {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      color: #CCCCCC;
    }

    .icon-wrapper:hover {
        color: white;
        transition: 0.4s;
    }

    .icon-name {
      opacity: 0;
      font-weight: bold;
      text-align: center;
    }

    i {
      color: $quaternary-color;
      padding: 5%;
      margin: 0;
    }

    svg {
      padding: 5%;
      margin: 0;
    }

    i:hover {
      color: white;
      transition: 0.4s;
    }

    i:hover + .icon-name {
      opacity: 1;
      transition: 0.4s;
    }

    svg:hover {
      fill: white;
    }

    svg:hover + .icon-name {
      opacity: 1;
      transition: 0.4s;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .skills {
    margin-left: 0%;

    > div {
      margin-left: 25%;
    }

    > .skills_div {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15vh;
      margin-left: 25%;
    }

    i {
      padding: 0%;
    }
  }
}
