.skills {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 30%;
}
.skills .skills_h2 {
  padding-bottom: 10%;
}
.skills i {
  color: #CCCCCC;
  padding: 5%;
}
.skills i:hover {
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

@media screen and (min-width: 1024px) {
  .skills {
    margin-left: 0%;
  }
  .skills > div {
    margin-left: 25%;
  }
  .skills > .skills_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15vh;
    margin-left: 13%;
  }
  .skills i {
    padding: 0%;
  }
}